<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="/app.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stlyesheets/app.css">
    <script src="/myScript.js"></script>
    <script src="/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="ui menu">
        <a href="/" class="item">Home</a>
        <a href="/projects" class="item">Projects</a>
        <a href="/addproject" class="item active">Add New Project</a>
        <div class="right menu">
          <a class="item">Sign Up</a>
          <a class="item">Login</a>
        </div>
      </div>