body {
    color: black;
    background: azure;
}

.post {
    background: white;
    border: 2px #000000 solid;
    padding: 5px;
    border-radius: 20px;
    width: 700px;
    margin: 10px auto;
}

.newpost {
    border-radius: 0%;
}
